standalone_admin_password.txt
secrets.txt 
airflow/logs/
airflow/airflow.db
airflow/dags/__pycache__/welcome_dag.cpython-312.pyc

#to really ignore files after creation:
# git rm --cached secrets.txt
